$breakpoint-xx-large: "xx-large";// 1400px
$breakpoint-x-large: "x-large";// 1200px
$breakpoint-large: "large";// 1000px
$breakpoint-medium: "medium";// 800px
$breakpoint-small: "small";// 700px
$breakpoint-x-small: "x-small";// 550px
$breakpoint-xx-small: "xx-small";// 550px

$xx-large: 87.5rem; // 1400px
$x-large: 75rem; // 1200px
$large: 62.5rem; // 1000px
$medium: 50rem; // 800px
$small: 43.75rem; // 700px
$x-small: 34.375rem; // 550px
$xx-small: 20.0625rem; // 321px
