// Color Scheme
$color-primary: #f6f6fd; // lavender
$color-secondary: #e6e6fa; // lavender
$color-tertiary: #e6e6fa; // lavender
$color-quaternary: #e6e6fa; // lavender

// Colors
$white: #ffffff;

$color-purple-light: #f6f6fd;
$color-purple-light-2: #e6e6fa;

$shadow-black: #22242626;

// Shadows & Borders
$box-shadow: 0 .0625rem .125rem 0 $shadow-black;
$border: 1px solid $shadow-black;